<h1> All Subs!!11 </h1>

<% Sub.all.each do |sub| %>

  <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <br>

<% end %>
<% if logged_in? %>
  <p>
    <a href="<%=new_user_sub_url(current_user.id)%>">New Sub!</a>
  </p>
<% end %>
